<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My fisrt webpage!</title>
</head>
<body>
    <div id = "page-content">
            <div class = "container" id = "home-cont">
        <div class="jumbotron text-center text-white">
        <h1 class="display-4" >Alpha Blog</h1>
        <p class="lead" >This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
        </p>
        </div>
    </div>


    
    </div>

 <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to"Hazem Hashem" , "https://www.facebook.com/hazem.hashem.31/"%></small>
    </div>
  </footer>

</body>
</html>

